/* General Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    
    font-family: 'Arial', sans-serif;
  }
  
  .logo h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    
  }
  
  .nav {
    flex-grow: 1;
  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    color: #b12525;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #29214d;
  }
  
  .download-btn {
    display: flex;
    align-items: center;
  }
  
  .download-link {
    background-color: #b12525;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .download-link:hover {
    background-color: #29214d;
  }
  
  /* Mobile Styles */
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;
    }
  
    .nav-links {
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
    }
  
    .download-btn {
      margin-top: 20px;
    }
  }
  