/* Global Styles */
body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2D2B29;
  }
  
  /* Container for cards */
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
  }

  
  /* Card styles */
  .card {
    background-color: #2D2B29;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-10px); /* Hover effect */
  }
  
  /* Image inside the card */
  .card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  /* Title of the card */
  .card-title {
    margin: 5px;
    font-size: 1.2em;
    font-weight: 600;
    color: white;
  }
  
  /* Description of the card */
  .card-description {
    margin: 0 15px 15px;
    color: #ddd;
    font-size: 1.0em;
  }
  
  /* Responsiveness */
  @media screen and (max-width: 768px) {
    .card-container {
      grid-template-columns: repeat(2, 1fr); /* 2 cards per row on medium screens */
    }
  }
  
  @media screen and (max-width: 480px) {
    .card-container {
      grid-template-columns: 1fr; /* 1 card per row on small screens */
    }
  }
 