.body
{
    background-color: #fcfdfc;
    color: #b12525;  
    font-family: "Sofia", sans-serif;
}

.title{
    color: #b12525;
    padding: 1px 1px;
}
.button {
    background-color: #b12525; /* Green background */
    color: white; /* White text */
    padding: 12px 24px; /* Padding for button */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Text size */
    cursor: pointer; /* Change cursor to pointer */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transitions */
  }
  
  .button:hover {
    background-color: #29214d; /* Darker green on hover */
    transform: scale(1.05); /* Slight scale-up effect */
  }
  
  .button:active {
    background-color: #b12525; /* Even darker green on click */
    transform: scale(0.98); /* Scale-down effect on click */
  }
  
  .button:focus {
    outline: none; /* Remove the default outline when focused */
  }
  p {
    text-align: center;
    font-size: 4rem;
    color: #000000;
    padding: 20px 40px; /* Added padding for better spacing around text */
    line-height: 1.6;
    max-width: 900px;
    margin: 0 auto 30px;
  }
